{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About</h1>
          <span class="subheading">Some Succulent details.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          A test blog that I created for the Succulent gang to use as an internal blog. Like a bloge
          version of the whatsapp group.
        </p>
        <p>
          The more traffic I can get on here the more I can test the platform and my ability to host
          publicly. As time goes on I will add more features and activate some of the current disabled 
          features!
        </p>
        <p>
          So post anything, something funny that happened today, a cool article that you've read, your
          progress on a personal project or any other musing.
        </p>
        <p>
          Note that I have not added a photo selector for now but instead ask for a url to be provided
          and the photos are loaded on call from that url (e.g.
          https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBburtfM7ZDftVBzsTBO7sYwOCHlQ2VS1XuYLrTKV8pQ&s)
          To do this right click on the image and select 'copy image address'.
          So images (which are mandatory) must be in a place that is public (e.g. google photos public album) 
          or just copy the url of an article image or a random relevant image from google images.
        </p>
        <p>
          Ok get typing and posting and find those bugs!
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
